<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Benutzerdaten ändern</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/change_credentials.js}"></script>
</head>
<body>
<div class="profile-menu" id="profile-menu" style="display: none;">
    <p>Username: <span id="username"></span></p>
    <button onclick="logout()">Logout</button>
    <button onclick="toggleUpdateForm()">Benutzername ändern</button>
    <button onclick="togglePasswordForm()">Passwort ändern</button>
</div>

<div id="update-user-section" style="display: none;">
    <h3>Benutzername ändern</h3>
    <form id="update-user-form">
        <label for="new-username">Neuer Benutzername:</label>
        <input type="text" id="new-username" name="new-username" required>
        <button type="submit">Benutzername ändern</button>
    </form>
</div>

<div id="update-password-section" style="display: none;">
    <h3>Passwort ändern</h3>
    <form id="update-password-form">
        <label for="new-password">Neues Passwort:</label>
        <input type="password" id="new-password" name="new-password" required>
        <button type="submit">Passwort ändern</button>
    </form>
</div>

<script>
    function toggleUpdateForm() {
        $('#update-user-section').toggle();
    }

    function togglePasswordForm() {
        $('#update-password-section').toggle();
    }
</script>